*{
    margin: 0;
    padding: 0;
}

h2{
    font-size: 3rem;
}

p{
    color: rgb(164 167 170);
    font-size: 14px;
}

.wrap{
    margin: auto;
    width: 960px;

}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
}

.button-free{
    background-color: white;
    border-radius: 20px;
    border: 1px solid white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 10px 3em;
    box-shadow: 0px 0px 4px black;

}

/*section one*/

.section-one{
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(./recursolanding/images/bg-hero-desktop.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.container-letter{
    border: solid 1px;
    text-align: center;
    padding: 20px;
}

.title{
    font-size: 4rem;
}

.text-normal{
    width: 100%;
    margin-bottom: 20px;
    padding-top: 40px;
    font-size: 18px;
}

.button-pink{
    background-color: rgb(255 85 204);
    border: solid 1px rgb(255 85 204);
    margin-top: 40px;
    padding: 20px;
    border-radius: 30px;
}

.container-img img{
    width: 80%;
}

/* section two */

.section-two{
    display: flex;
    box-shadow: 1px 1px 6px black;
    border-radius: 10px;
}

.container-img.two{
    padding-top: 20px;
    width: 40%;
}

.container-letter.parrafo{
    align-items: start;
   line-height: 3rem;
   


}

/* footer */

.footer{
    background-color: hsl(192, 100%, 9%);
    color: #fff;
}

.footer p{
    color: #fff;
}

.logo-white{
    filter: invert(1) brightness(0);

}

.footer div{
    display: grid;
    grid-template-columns: (2fr 1fr 1fr 2fr);
    padding: 30px;
    
}